@import "tailwindcss";

@theme {
  --color-brand-blue: #005696;
  --color-brand-green: #009639;
  --color-brand-gold: #C5A059;
  --color-brand-bg: #F8FAFC;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
